# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://smart-data-model.openai.azure.com
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# OpenAI Cloud (si usas provider: "openai")
OPENAI_API_KEY=

# vLLM Local (si usas provider: "local")
VLLM_API_KEY=
VLLM_API_BASE=http://localhost:8000/v1
UV_CACHE_DIR=/data/proyectos/uv_cache
